input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'] {
    border: 1px solid var(--color-primary);
    height: 2.75rem;
    padding: 0 1rem;
    outline: none;
}

textarea {
    border: 1px solid var(--color-primary);
    padding: 1rem;
}

.select2-container--default,
.select2-selection--single {
    background-color: #fff;
    border: 1px solid var(--color-primary);
    border-radius: 0;
    height: 2.75rem;
}
